@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Syne:wght@400..800&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark &));

:root {
  --primary: #0069ff;
}

html, body {
  overflow-x: hidden;
  width: 100%;
  scrollbar-width: thin;
  scrollbar-color: var(--primary) transparent;
}

/* Custom Scrollbar for Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

.dark ::-webkit-scrollbar-thumb {
  background: #222;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

* {
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  -webkit-tap-highlight-color: transparent;
}

@media (max-width: 640px) {
  section {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}

@media (min-width: 1024px) {
  * {
    cursor: none;
  }
}

.font-syne {
  font-family: "Syne", sans-serif;
}

.text-primary {
  color: var(--primary);
}

.bg-primary {
  background-color: var(--primary);
}

.border-primary {
  border-color: var(--primary);
}

@theme {
  --color-primary: #0069ff;
}