@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";


@custom-variant dark (&:where(.dark &));

*{
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  cursor: none;
}

.font-syne {
    font-family: "Syne", sans-serif;
}

@theme {
  --color-primary: #0069ff;
}
